.form {
  margin-top: 56px;
}

.OTPInput {
  border-color: #67decf;
}

.slotsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 8px;
}

.submitButton {
  margin-top: 20px;
}
